<button class="g-float-right btn btn-info formEventToggleButton" ng-show="!showGroupEvents" ng-click="showGroupEvents=!showGroupEvents">Show Events</button>
<button class="g-float-right btn btn-info formEventToggleButton" ng-show="showGroupEvents" ng-click="showGroupEvents=!showGroupEvents">+ Add New</button>

<div ng-show="!showGroupEvents" class="col-md-12 formContainer animated" id="top" ng-class="{ fadeOut: showGroupEvents, fadeIn: !showGroupEvents }">
	<form name="groupCreationForm">
		<div class="row">
			<div class="col-md-4">
				<h4>Select car </h4>
				<select class="form-control frmField" ng-model="carSelection.year" ng-change="getMakes()">
					<option ng-repeat="i in noOfYears(5) track by $index" value="{{currentYear - $index}}"> {{currentYear - $index}}
					</option>
				</select>
				<select class="form-control frmField" ng-model="carSelection.make" ng-change="refreshModels()" ng-options="make.name for make in makes.makes">
					<option value=""> Make</option>
				</select>
				<select class="form-control frmField" ng-model="carSelection.model" ng-change="getStyles()" ng-options="model.name for model in models">
					<option value=""> Model</option>
				</select>
				<select class="form-control frmField" ng-model="carSelection.style" ng-change="" ng-options="style.name for style in styles">
					<option value=""> Style</option>
				</select>

				<div style="display:inline-block; width: 100%;">
					<h4> Car Dealer Information </h4>
					<input type="text" class="form-control frmField" ng-model="dealer.name" placeholder="Dealer Name"></input>

					<input type="text" class="form-control frmField" ng-model="dealer.address" placeholder="Dealer address"></input>
					<input type="text" class="form-control frmField" ng-model="dealer.zip" placeholder="Zip" ng-change="getCityState()"></input>
					<input type="text" class="form-control frmField" ng-model="dealer.city" placeHolder="City" disabled></input>
					<input type="text" class="form-control frmField" ng-model="dealer.state" placeHolder="State" disabled></input>
				</div>
			</div>
			<div class="col-md-4">
				<div style="display:inline-block; width: 100%;">
					<h4> Buy Before </h4>

					<p class="input-group">
		          		<input type="text" class="form-control frmField" datepicker-popup="{{format}}" ng-model="buyBefore" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		          		<span class="input-group-btn">
		            		<button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		          		</span>
		        	</p>

		    		<!-- <datepicker ng-model="buyBefore" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker> -->
				</div>
				<div style="display:inline-block; width: 100%;">
					<h4> Pricing </h4>
					<input type ="text" class="form-control frmField" ng-model="price" placeholder="Price"></input>
					<input type="text" class="form-control frmPriceField frmField" ng-model="discount" placeholder="Discount"></input>
					<select class="form-control frmDiscountField frmField" ng-model="discountType">
						<option value="%">%</option>
						<option value="$">$</option>
					</select>

					<h4> Group size </h4>
					<select class="form-control frmField" ng-model="groupSize">
						<option ng-repeat="i in noOfYears(9) track by $index" value="{{$index + 2}}"> {{$index + 2}}
						</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<h4> Notes </h4>
				<textarea class="form-control frmField notesField" ng-model="notes" placeholder="Notes"></textarea>
				<h4> Are you? </h4>
				<div class="btn-group">
		    		<label class="btn btn-primary" ng-model="typeOfUser" btn-radio="'Buyer'">Buyer</label>
		    		<label class="btn btn-primary" ng-model="typeOfUser" btn-radio="'Dealer'">Dealer</label>
			    </div>
			</div>
		</div>
		<div class="row formActionButtons">
			<button class="btn btn-info g-float-right frmButton" ng-click="saveGroupBuyForm()"> Create </button>
			<button class="btn btn-danger g-float-right frmButton" ng-click="resetGroupBuyForm()"> Clear </button>
		</div>
	</form>
</div>
<div ng-show="showGroupEvents" class="animated groupEventsContainer" ng-class="{ fadeOut: !showGroupEvents, fadeIn: showGroupEvents }">
	<h2 > Existing groups </h2>
	<div>
		<div ui-grid="gridOptions" ui-grid-selection class="existingGroupGrid"></div>
		<div class="groupEvent stickynote animated" ng-if="selectedEvent" ng-class="{ slideOutLeft: !showGroupEvents, slideInRight: showGroupEvents }">
			<div class="carInfo">
				<span class="g-lbl"> Car: </span><span> {{selectedEvent.year + ' ' + selectedEvent.make + ' ' + selectedEvent.model + ' ' + selectedEvent.style}}</span>
			</div>
			<div class="dealerInfo">
				<span class="g-lbl">Dealer: </span><span> {{selectedEvent.dealerName + ', ' + selectedEvent.dealerAddress + ', ' + selectedEvent.city + ', ' + selectedEvent.state + ' - ' + selectedEvent.zip}} </span>
			</div>
			<div class="priceInfo">
				<span class="g-lbl">Price: </span><span> Price: {{selectedEvent.price | currency}} </span>
			</div>
			<div class="priceInfo">
				<span class="g-lbl">Discount: </span>
				<span ng-if="selectedEvent.discountType=='%'">{{selectedEvent.discount}}% </span>
				<span ng-if="selectedEvent.discountType=='$'">{{selectedEvent.discount | currency}} </span>
			</div>
			<div class="smallCircle groupSize">
				<span> 1/{{selectedEvent.groupSize}} </span>
			</div>
			<div class="buyBefore">
				<span class="g-lbl">Buy Before: </span><span>{{selectedEvent.buyBefore | date:'dd-MMM-yyyy'}} </span>
			</div>
			<div class="notes">
				<span class="g-lbl">Note: </span><span>{{selectedEvent.notes}} </span>
			</div>
			<div class="cardActions">
				<button class="joinGroupButton btn btn-info frmButton">Join</button>
			</div>
		</div>
	</div>
</div>