
/* app css stylesheet */


body {
  font-size: 20px !important;
  font-family: 'Tangerine', serif;
  color: #34495e !important;
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.frmField {
  margin: 0 0 6px 0px;
  font-size: 20px !important;
}

.frmPriceField {
  width: 75% !important;
  display: inline-block !important;
}

.frmDiscountField {
  width: 20% !important;
  float: right;
  display: inline-block !important;
}

.frmButton {
  margin: 0 0 10px 10px;
  font-size: 20px !important;
}

.topBar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 10%;
  min-height: 80px;
  background: #27ae60;
  width: 100%;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  /*border-bottom: 1px dashed #f1c40f;*/
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
}

.goToTop {
  position: fixed;
  top: 12%;
  right: 0px;
  /* background: #27ae60; */
  padding-right: 10px;
  border-radius: 0 10px 10px 0px;
  opacity: 0.5;
  /* box-shadow: 0 4px 6px rgba(0,0,0,0.6); */
}

.goToTop:hover {
  opacity: 1;
}

.mainContainer {
/*  padding: 10px;*/
  position: absolute;
  top: 10%;
  height: 90%;
  width: 100%;
  overflow: auto;
  background: url(http://subtlepatterns.com/patterns/little_pluses.png) #cacaca;
}

.gradiantShadow {
    /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #27AE60 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #27AE60 100%);

  /* Opera */
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #27AE60 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #27AE60));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #27AE60 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #FFFFFF 0%, #27AE60 100%);
}

.notesField {
  width: 100%;
}

.formActionButtons {
  width: 100%;
}

.g-float-right {
  float: right;
}

.g-float-left {
  float: left;
}

.formContainer {
  max-height: 954px;
  overflow-y: hidden;
  overflow-x: hidden;
}


/* card */

.groupEventsContainer {
  max-height: 890px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.groupEventsContainer:hover {
  overflow-y: auto;
}

.groupEvent {
  height: 400px;
  width: 31%;
  background: white;
  margin: 1%;
  float: left;
  padding: 10px;
  /* border-radius: 8px 8px 40px 40px; */
  position: relative;
/*  border: 3px dashed black;*/
  border-radius: 3px;
}

.stickynote
{
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
  background: -moz-linear-gradient(#F9EFAF, #F7E98D);
  background: -o-linear-gradient(#F9EFAF, #F7E98D);
  background: -ms-linear-gradient(#F9EFAF, #F7E98D);
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
}

.carInfo {
  color: #d35400;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: 500;
}

.dealerInfo {
  font-weight: 500;
  margin-bottom: 10px;
}

.priceInfo {
  font-weight: 500;
  margin-bottom: 10px;
  color: #8e44ad;
}

.notes {

}

.smallCircle {
  height: 80px;
  width: 80px;
  text-align: center;
/*  border-radius: 100%;*/
  line-height: 80px;
}

.groupSize {
  background: #2980b9;
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 100%;
}

.discountInfo {
  background: #8e44ad;
  color: white;
  font-size: 24px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 100% 100% 0% 100%;
}

.cardActions {
  position: absolute;
  bottom: 10px;
  width: 95%;
  text-align: right;
}
