
/* app css stylesheet */


body {
  font-size: 20px !important;
  font-family: 'Tangerine', serif;
  color: #34495e !important;
}

.frmField {
  margin: 0 0 10px 10px;
  font-size: 20px !important;
}

.topBar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
  background: #27ae60;
  width: 100%;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
}

.mainContainer {
  margin: 70px 0 0 0;
  padding: 10px;
}

.notesField {
  width: 100%;
}

.formActionButtons {
  width: 100%;
}

.groupEvent {
  height: 350px;
  width: 350px;
  background: #f1c40f;
  margin: 10px;
  float: left;
  padding: 10px;
  border-radius: 8px;
}

.g-float-right {
  float: right;
}

.g-float-left {
  float: left;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
